<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>0 到 90度的 Sin 值</h1>
    <h2><%= n %>条数据被插入 InfluxDB</h2>
    <a href="<%=url('/info') %>">查看插入数据</a>
  </body>
</html>
